name: 'Build ReCon for various platforms'

on:
  pull_request:
    branches:
      - main
  push:

jobs:
  build:
    name: 'Build'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.3'
          channel: 'stable'
      - run: |
          flutter pub get
      - run: |
          flutter build apk --release
      - run: |
          flutter build appbundle
      - run: |
          flutter build ipa --no-codesign
      - uses: actions/upload-artifact@v4
        with:
          path: |
            **/**/*.apk
            **/**/*.ipa
